<!DOCTYPE HTML>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta name="keywords" content="scclui框架">
	<meta name="description" content="scclui为轻量级的网站后台管理系统模版。">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/bootstrap-table.css" rel="stylesheet">
	<script type="text/javascript" src="/static/js/basic/jquery.js"></script>
	<script type="text/javascript" src="/static/js/basic/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/basic/bootstrap-table.js"></script>
	<script type="text/javascript" src="/static/js/basic/bootstrap-table-zh-CN.js"></script>
    <title>基础信息</title>

  </head>

  <body>
	<div class="panel-body" style="padding-bottom:0px;">
        <table id="tb_departments"></table>
    </div>


	<script type="text/javascript" src="/static/js/info/deploy_info.js"></script>
  </body>

</html>
